<main class="form-signin w-100 m-auto">
  <%= form_with(url: login_path, local: true) do |form| %>
    <%= image_tag 'logo.png', class: 'mb-4', alt: 'Logo', width: '90', height: '80' %>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
            <%= value %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% end %>

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <%= form.email_field :email, id: 'floatingInput', class: 'form-control', placeholder: 'name@example.com', autofocus: true %>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <%= form.password_field :password, id: 'floatingPassword', class: 'form-control', placeholder: 'Password' %>
      <label for="floatingPassword">Password</label>
    </div>

    <%= form.submit "Sign in", class: 'btn btn-primary w-100 py-2' %>
  <% end %>
  <p class="mt-5 mb-3 text-muted">&copy; 2024</p>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

