<div class="container ticket-index-max-width">
  <h1 class="my-4">Tickets Dashboard</h1>
  <%= render_flash %>
  <% if current_user.admin? %>
    <div class="alert alert-info">
      <strong>Welcome, Admin <%= current_user.email %>!</strong> You have full access to view and manage all tickets.
    </div>
  <% else %>
    <div class="alert alert-info">
      <strong>Welcome, <%= current_user.email %>!</strong> You can view and manage your own tickets.
    </div>
  <% end %>
  <div class="row mb-3">
    <div class="col-12">
      <%= link_to 'Create Ticket', new_ticket_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table id="tickets-table" class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th style="width: 10%;">Ticket ID</th>
          <th style="width: 25%;">Title</th>
          <th style="width: 15%;">Requester Email</th>
          <% if current_user.admin? %>
            <th style="width: 10%;">Priority</th>
          <% else %>
            <th class="hidden-placeholder" style="width: 0%;"></th>
          <% end %>
          <th style="width: 10%;">Status</th>
          <th style="width: 20%;">Actions</th>
        </tr>
        </thead>
        <tbody>
          <% @tickets.each do |ticket| %>
            <tr>
              <td><%= ticket.id %></td>
              <td class="title-column"><%= ticket.title %></td>
              <td><%= ticket.user.email %></td>
              <% if current_user.admin? %>
                <td><%= ticket.priority_level %></td>
              <% else %>
                <td class="hidden-placeholder"></td>
              <% end %>
              <td><%= ticket.status %></td>
              <td>
                <%= link_to 'Details', ticket, class: 'btn btn-secondary btn-sm' %>
                <% if current_user.admin? || current_user == ticket.user %>
                  <% unless ticket.closed_and_expired? %>
                    <%= link_to 'Edit', edit_ticket_path(ticket), class: 'btn btn-info btn-sm' %>
                  <% end %>
                  <%= link_to 'Delete', ticket, method: :delete, data: { confirm: 'Are you sure you want to delete this ticket?' }, class: 'btn btn-warning btn-sm' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="logout-button">
    <%= link_to 'Logout', logout_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' }, class: 'btn btn-danger logout-margin' %>
  </div>
</div>
