<div class="container ticket-create-max-width">
  <h1 class="my-4">Create Ticket</h1>

  <%= render_flash %>

  <%= form_with model: @ticket, local: true do |form| %>
    <div class="mb-3">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :description %>
      <%= form.text_area :description, rows: 5, class: 'form-control' %>
    </div>

    <% if current_user.admin? %>
      <div class="mb-3">
        <%= form.label :user_email, 'Assign Ticket to User (e.g. demo@user.io)' %>
        <%= form.text_field :user_email, class: 'form-control', value: @ticket.user&.email %>
      </div>

      <div class="mb-3">
        <%= form.label :priority_level %>
        <%= form.select :priority_level, options_for_select([['Please select', ''], "1 - Low", "2 - Medium", "3 - High"]), {}, class: 'form-select' %>
      </div>

      <div class="mb-3">
        <%= form.label :internal_note %>
        <%= form.text_area :internal_note, class: 'form-control', rows: 5 %>
      </div>
    <% end %>

    <%= form.submit 'Create Ticket', class: 'btn btn-primary' %>
    <%= link_to 'Return to Dashboard', tickets_path, class: 'btn btn-secondary' %>
  <% end %>
</div>
